*{
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

ol{ background: rgb(226, 166, 166);
  height: 80px;

}

ol li{
display: inline;

line-height:80px ;
margin-left: 20px;

}

ul,p,h2{
  color:aliceblue;
}

body {
    background-image: url(https://e0.pxfuel.com/wallpapers/408/638/desktop-wallpaper-abstract-anime-abstract-anime-cg-3d.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.asuka{
  background:rgb(226, 166, 166) ;
   height: 80px;
  
}

