body {
    padding: 20px 250px;
    margin-right: 0;
    background-color: #232323;

    font-size: 20px;
    color: rgba(255, 255, 255, 0.666);
  }
  .main-body{
    width:90%;
    background-color: #212b2d;
  }
  .body{

    background-color: #212b2d;

width: 80%;
margin-left:10%;

  }
.m-m , .blk{
    margin-left:3vh;
}


  .main-menu li a {
    color: rgba(250, 250, 250, 0.666);
  }
  .top-bar ul {
    background-color: #333d3f;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    list-style-type: none;
    padding: 15px;
    text-align: center;
  }
  .top-bar li {
    border-right: rgba(255, 255, 255, 0.666) 1px solid;
  }
  #np4 {
    border-right: none;
  }
  .main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
  }
  .main-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    
  }
  .main-bottom .subscription {
    border-right: rgba(198, 15, 15, 0.666) 1px solid;
    margin-right: 0 14px;
    
}
  .main-bottom button {
    background-color: #041114;
    padding: 10px;
    width: 25%;
    font-size: 13px;
    font-weight: bold;
  }
  footer {
    border-top: rgba(177, 35, 35, 0.666) 1px solid;
    padding: 20px;
    margin: 20px;
    text-align: center;
  }
  .contant {
    display: grid;
    grid-template-columns: 1fr;
    width: 50%;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
  }

  
  .contant button {
    background-color: #98aaae;
    width: 20%;
    padding: 10px;
    margin: 10px auto 0 auto;
  }
  hr{
    opacity: 70%;
  }
  .other{
    margin-left: 20px;
  }
  